<!doctype html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <title>{{.Title}} | {{.SiteName}}</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/layout.css">
    <link rel="stylesheet" href="/static/text.css">
    {{with .Description}}<meta name="description" content="{{ . }}" />{{end}}
    {{with .Keywords}}<meta name="keywords" content="{{ . }}">{{end}}
    {{with .CurrentUrl -}}
    <link rel="canonical" href="{{ . }}" />
    <meta property="og:url" content="{{ . }}">
    {{- end}}
    <meta property="og:type" content="website" />
    {{with .BannerUrl}}<meta property="og:image" content="{{ . }}">{{end}}
    {{with .Description}}<meta property="og:description" content="{{ . }}">{{end}}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:site_name" content="{{.SiteName}}">
    <meta property="og:see_also" content="{{.SiteUrl}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <nav>
            <a href="/">{{.SiteName}}</a>
        </nav>
    </header>
    <main>
        {{template "main" .}}
    </main>
</body>

</html>